<html>
<title>Detail</title>
    <body>    
            
            <center><H1>{{ items.post_text }}</H1>
            </center>
            </br>
            <H3>Detail:</H3> {{ items.detail }}
            </br>
            </br>


     
            <form method="POST" action="/WelearnApp/tutor/detail/{{ items.id }}">
            <textarea  name="post_comment" id="id_new_comment" 
                placeholder="Enter your comment" style="width=1500px"></textarea>
            <input type="submit" value="comment"/>
            {% csrf_token %}
            </form>

             


            <H3>Comment</H3>
            {% for comment in l_comments %}
            <form method="GET" action ="/delete_comment/{{ comment.id }}">
                <br>{{forloop.counter}}:{{ comment.cm }}</br>
                <a href="/delete_comment/{{ comment.id }}">Delete comment</a>
                <!--button name={{comment.id}} id="delete_comment"
                onclick="delete_comment({{comment.id}})">Delete Comment</button-->
            
            </from>
            {% endfor %}

            </br>
            </br>
            <form method="GET" action ="/delete_item/{{ items.id }}">
                <a href="/delete_item/{{ items.id }}">Delete Post</a>
                <!--button name={{items.id}} id="delete"
                onclick="delete_item({{items.id}})">Delete POST</button-->
             
            </from>
      <!--I made this template for express head, detail and comment of katoo--> 
      <!--comment part
          Comment :  {{ items.comment }}-->
            
            
            
          
           

    </body>
</html>
