<html>
<title>Detail Examination</title>
    <body>    
            
            <center><H1>{{ itemsExam.topic_exam }}</H1>
            </center>
            </br>
            <H3>Detail:</H3> {{ itemsExam.detail_exam }}
            </br>
            </br>


     
            <form method="POST" action="/WelearnApp/examination/detail/{{ itemsExam.id }}">
            <textarea  name="post_comment" id="id_new_comment" 
                placeholder="Enter your comment" style="width=1500px"></textarea>
            <input type="submit" value="comment"/>
            {% csrf_token %}
            </form>

             


            <H3>Comment</H3>
            {% for comment_exam in commentsExam %}
            <form method="GET" action ="/examination/delete_comment/{{ comment_exam.id }}">
                <br>{{forloop.counter}}:{{ comment_exam.cm_exam }}</br>
                <a href="/examination/delete_comment/{{ comment_exam.id }}">Delete Comment</a>
                <!--button name={{comment_exam.id}} id="delete"
                onclick="delete_item({{comment_exam.id}})">Delete Comment</button-->
            {% csrf_token %} 
            </from>
            {% endfor %}

            </br>
            </br>
            <form method="GET" action ="/examination/delete_item/{{ itemsExam.id }}">
                <a href="/examination/delete_item/{{ itemsExam.id }}">Delete Post</a>
                <!--button name={{itemsExam.id}} id="delete"
                onclick="delete_item({{itemsExam.id}})">Delete POST</button-->
            </from>
    </body>
</html>
