<html>
<title>Examination</title>
<body>   
   <!--post button part-->   
      <center>  
         <form method="POST" action="/WelearnApp/examination/post/"> 
         <button name="post_button" id="for_post_exam" 
                    onclick="window.location.href='/WelearnApp/examination/post/'">Creat Post</button>
         {% csrf_token %}
         </form>
         </br>
   <!--table part-->
         <table id="id_post_exam_table" border="3">
         <!--td>Tutor board</td-->
            {% for itemExam in itemsExam %}
            <form method="POST" action="/WelearnApp/examination/detail/{{ itemExam.id }}">
            <tr><td>{{forloop.counter}}:<a href="/WelearnApp/examination/detail/{{ itemExam.id }}">{{ itemExam.topic_exam }}</a>
            {% csrf_token %}
            </form>
            </br>
            </tr></td>
            {% endfor %}

         </table></center>
</body>
</html>