<html>
    <title>Welearn</title>
    <body>
        <center>
        <h1>Wellcome to Welearn</h1>
                
        <input type="button" onclick="window.location.href='/WelearnApp/tutor'" value="Tutor" name="name_tutor">
        
        <input type="button" onclick="window.location.href='/WelearnApp/examination'" value="Examination" name="name_examination">

        <input type="button" onclick="window.location.href='/WelearnApp/about/'" value="About" name="name_about">
        
    </body>
    
</html>
