<html>
    <title>Welearn</title>
    <body>
        <center>
        <h1>Wellcome to Welearn</h1>
        <input type="button" onclick="window.location.href='/'" value="board" name="name_board">
                
        <input type="button" onclick="window.location.href='/WelearnApp/tutor'" value="Tutor" name="name_tutor">
        
        <input type="button" onclick="window.location.href='/WelearnApp/examination'" value="Examination" name="name_examination">
        
        <input type="button" onclick="window.location.href='/WelearnApp/problem'" value="Problem" name="name_problem">
        <br></br>
        <input type="button" onclick="window.location.href='/post'" value="Creat Post" name="name_board_post">
        </center>
        
    </body>
    
</html>
