<html>
<title>Katoo Post</title>
    <body>    
            
            <center><H1>{{ items.post_text }}</H1></center>
            {% csrf_token %}
            
            </br>
            <H3>Detail:</H3> {{ items.detail }}
            </br>
            
            <form method="POST" action="/WelearnApp/katoo/{{ items.id }}">
            comment: <textarea  name="post_comment" id="id_new_comment" placeholder="Enter your comment" width="2000"></textarea>
            <input type="submit" value="comment"/>
            {% csrf_token %}
            </form>
 
            Comment :  {{ items.comment }}
            
      <!--I made this template for express head, detail and comment of katoo--> 
      <!--comment part-->
            
            
            
          
           

    </body>
</html>
