<html>
<title>Tutor Post</title>
<body>
    <!--for creat katoo-->
    <!--post part-->
        <form method="POST" action="/WelearnApp/tutor/">
             </br>
             </br>
             
             Subject: <input name="post_tutor_head" id="id_new_head_tutor" placeholder="Enter your Subject" />

             </br>
             Detail: <textarea style="resize:none" name="post_tutor_detail" id="id_new_detail_tutor" placeholder="Enter your detail" width="1500"></textarea>
             </br>
             </br>
             <input type="submit" value="post"/>

             {% csrf_token %}
             
         </form>
</body>
</html>

