<html>
<title>Examination Post</title>
<body>
    <!--for creat katoo-->
    <!--post part-->
         
             </br>
             </br>
             <form method="POST" action="/WelearnApp/examination/" >
             Subject: <input name="post_exam_head" id="id_new_head_exam" placeholder="Enter your Subject" style="width=500px" />

             </br>
             Detail: </br><textarea  name="post_exam_detail" id="id_new_detail_exam" placeholder="Enter your detail" style="height:250px; width=500"></textarea>
             </br>
             </br>
             <input type="button" name="uplode_file" value="Uplode File">
        
             <input type="submit" name="post_exam_bt" value="post"/>

             {% csrf_token %}
             
         </form>
</body>
</html>

