<html>
<title>Problem</title>
<body>

    
   <!--post button part-->   
      <center>  
         <form method="POST" action="/WelearnApp/post/"> 
         <button name="post_button" id="for_post" 
                    onclick="window.location.href='/WelearnApp/post/'">Creat Post</button>
         {% csrf_token %}
         </form>
         </br>
         </br>
         </br>
   <!--table part-->
         <table id="id_post_table" border="3">
         <td>Tutor board</td>
            {% for item in items %}
            <form method="POST" action="/WelearnApp/detail/{{ item.id }}">
            <tr><td>{{forloop.counter}}:<a href="/WelearnApp/detail/{{ item.id }}">{{ item.post_text }}</a>
            {% csrf_token %}
            </form>
            </br>
            
   
   <!--comment part>
            <td><button name="comment_button" id="comment" onclick="window.location.href='/WelearnApp/tutor/comment/'">Comment</button></td-->
         
        
     

</body>
</html>

