<html>
<title>Tutor</title>
<body>

    
   <!--post button part-->   
      <center>  
         <form method="POST" action="/WelearnApp/tutor/post/"> 
         <button name="post_button" id="for_post" 
                    onclick="window.location.href='/WelearnApp/tutor/post/'">Creat Post</button>
         {% csrf_token %}
         </form>
         </br>
   <!--table part-->
         <table id="id_post_table" border="3">
         <!--td>Tutor board</td-->
            {% for item in items %}
            <form method="POST" action="/WelearnApp/tutor/detail/{{ item.id }}">
            <tr><td>{{forloop.counter}}:<a href="/WelearnApp/tutor/detail/{{ item.id }}">{{ item.post_text }}</a>
            {% csrf_token %}
            </form>
            </br>
            
   
   
            </tr></td>
            {% endfor %} 
           
         </table></center>

</body>
</html>

