<html>
<title>Tutor</title>
<body>
    <form method="POST">
             <center>
             <input name="post_tutor_item" id="id_new_post_tutor" placeholder="Enter your post" />
             <input type="submit" value="post"/>

             {% csrf_token %}
             </center>
         </form>
         <center><table id="id_post_table" border="3">
         <td>Tutor board</td>
            {% for item in items %}
            <tr><td>{{forloop.counter}} : {{ item.post_text }}
            
            <form method="POST" action ="/delete_item/{{ item.id }}">
                <button name={{item.id}} id="delete" onclick="delete_item({{item.id}})">Delete</button>
            {% csrf_token %} 
            </from>
            </tr></td>
            {% endfor %}
         </table></center>
         
        
     
    <!--center>
        <input type="button" onclick="window.location.href='/WelearnApp/tutor/post'" value="Creat Post" name="name_tutor_post">
    </center>
     <form method="POST">
            <input name="post_item" id="id_new_post" placeholder="Enter your post" />
            {% csrf_token %}
     </form>
    <table id="id_post_table">
        <tr><td>1: {{ A_new_post }}</td></tr>
        
    </table-->
</body>
</html>

